// Elements
html {
  box-sizing: border-box;
}

// Selection
::-moz-selection {
  background-color: $color-bg-selection;
}

::selection {
  background-color: $color-bg-selection;
}

// Sections
section {
  margin-bottom: $l-space;
}

// Headers
h1,
h2,
h3,
h4,
h5
 {
  color: $color-text-main;
  text-align: center;
}

// Images
img {
  max-width: 100%;
}

// Lists

ol,
ul {
  list-style-type: none;
  margin-left: 0;
}

// Forms
input, textarea {
  border: $border;
  border-radius: $border-radius;
  padding: 5px 10px;
  box-sizing: border-box;
}
input[type="submit"]  {
  background: $color-bg-main;
  color: $color-text-invert;
  border: none;
  &:hover {
    background: darken($color-bg-main, 20%);
  }
}

textarea {
  width: 100%;
}
