.error {
    text-align: center;
}

.error-code {
    text-align: center;
    font-size: 80px;
}

.error-message{
    text-align: center;
    margin-top: $m-space;
    font-size: $font-size-xl;
}

.error-link {
    text-align: center;
    margin: $m-space 0;
}